atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes

git/gitconfig.symlink

# Vim plugin directories (bundles are submodules)
vim/vim.symlink/bundle-disabled/
vim/vim.symlink/pack/
