'global':
  'editor':
    'showIndentGuide': true
    'fontFamily': 'Menlo'
    'fontSize': 16
    'invisibles': {}
  'core':
    'ignoredNames': [
      '.bundle'
      '.git'
      'log'
      'repositories'
      'tmp'
      'vendor'
    ]
    'themes': [
      'unity-ui'
      'glacier-syntax'
      'atom-dark-ui'
      'atom-dark-syntax'
    ]
    'hideGitIgnoredFiles': true
    'disabledPackages': [
      'background-tips'
      'exception-reporting'
      'metrics'
    ]
  'spell-check':
    'grammars': [
      'text.plain'
      'source.gfm'
      'text.git-commit'
    ]
  'welcome':
    'showOnStartup': false
  'release-notes':
    'viewedVersion': '0.60.0'
  'exception-reporting':
    'userId': 'd805e503-76c3-f10f-1c81-b366dd737b4d'
  'metrics':
    'userId': 'b2c40195cf78d3ea68294861905eb853d111080e'
'exception-reporting':
  'userId': 'c78940ec-abd8-9d21-786f-215543f25e9e'
'release-notes':
  'viewedVersion': '0.60.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': 'b2c40195cf78d3ea68294861905eb853d111080e'
